<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
</head>
<body>
  <form class="form-inline" action="/register" method="POST">
    <div class="email-input">
      <label for="email">Email:</label>
      <input class="form-control" type="email" name="email" placeholder="example@register.com" style="width: 300px; margin: 1em;">
      <label for="password">Password:</label>
      <input class="form-control" type="password" name="email" placeholder="not123" style="width: 300px; margin: 1em;">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</body>
</html>